<head th:replace="head :: head"></head>

<!-- NAVBAR -->
<div th:include="navbar :: navbar"></div>

<!-- CONTAINER LOGIN -->

<div class="container_login">
    <div th:if="${noExisteUsuario == true}" class="usuarioNoExiste">
        El usuario no existe!
    </div>
    <div class="login">
        <div class="title_login">
            <p>Incia sesión</p>
        </div>
        <form action="" th:object="${credenciales}" method="post" id="form_login" enctype="multipart/form-data">
            <div class="row-input">
                <label>Correo electrónico</label>
                <input type="email" placeholder="example@mail.com" th:field="*{correo}" name="correo" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">

                </div>
            </div>
            <div class="row-input">
                <label>Contraseña</label> 
                <input type="Password"  name="clave" th:field="*{clave}" placeholder="Ingrese clave" />
                <div class="invalid-feedback" th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}">

                </div>
            </div>
            <div class="row-button">
                <input type="submit" value="Iniciar sesión" id="buttonLogin" />
            </div>
        </form>
        <div class="registrar_container">
           <label> <p><b>¿No posee una cuenta?
               </b></p></label> <p>registrese</p><a href="/registrar">aquí</a>
        </div>
    </div>
</div>
  <script type="module" src="/js/index.js"></script>
</body>
</html>

