


<div class="container">
    <div class="container-head">
        <div class="container-head-Title">
            <h1>Mis publicaciones</h1>
        </div>
        <div class="container-head-description">
            <p th:text="${#lists.size(publicacionUsuario) + ' publicaciones'}"></p>
        </div>
    </div>
</div>

    <div class="mi_publicacion_container">
        <button th:each="lista : ${publicacionUsuario}" th:object="${lista}" class="mi_post_container">
            <div class="mi_img_container">
                <img th:src="@{/assets/{filename}(filename=*{rutaImg})}" th:alt="*{rutaImg}"> 
            </div>
            <div class="mi_description-container">
                <!-- <div>
                    <h5 th:text="*{titulo}">titulo</h5>
                </div>
                <div>
                    <p th:text="*{distrito} + '-' + *{ciudad}" style="font-size: 1.5em; font-weight: 200;"></p>
                    <p th:text="'S/. ' + ${#numbers.formatDecimal(lista.precio, 2, 'COMMA', 2, 'POINT')}"></p>
                </div> -->
            </div>
            <div class="mis_etiquetas">
                <!-- <span th:text="*{tipoPublicacion}"></span>
                <span th:text="*{tipoInmueble}"></span> -->
            </div>
        </button> 
    </div>

