<head th:replace="head :: head"></head>

<!-- NAVBAR -->
<div th:include="navbar :: navbar"></div>

<div class="containerPublicar">
    <div class="container_Publicacion">
        <form method="post" th:object="${publicacion}" enctype="multipart/form-data">

            <div class="col_publicar_titulo">
                <p for="titulo">Título</p>
                <input type="text" id="titulo" placeholder="Titulo de la publicación" th:field="*{titulo}"
                    name="titulo">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}">
                </div>
            </div>

            <!-- ROW 1 -->
            <div class="row_publicar">
              <div class="col_publicar">
                  <p for="titulo">Ciudad</p>
                      <input type="text"  id="ciudad" placeholder="Ingrese ciudad"
                          th:field="*{ciudad}" name="ciudad" />
                  <div class="invalid-feedback" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></div>
                </div>
             <div class="col_publicar">
                 <p for="titulo">Distrito</p>
                 <input type="text" id="ciudad" placeholder="Ingrese distrito" th:field="*{distrito}" name="distrito"/>
                 <div class="invalid-feedback" th:if="${#fields.hasErrors('distrito')}" th:errors="*{distrito}">     </div>
                </div>
            </div>




            <!-- ROW 2 -->
             <div class="row_publicar">
                <div class="col_publicar">
                       <p>Tipo de propiedad</p>
                       <select th:field="*{tipoInmueble}" name="tipoInmueble">
                           <option th:value="null" selected>Selecciona un inmueble</option>
                           <option value="Departamento">Departamento</option>
                           <option value="Casa">Casa</option>
                           <option value="Terreno">Terreno</option>
                           <option value="Oficina">Oficina</option>
                       </select>
                       <div class="invalid-feedback" th:if="${#fields.hasErrors('tipoInmueble')}" th:errors="*{tipoInmueble}"></div>
                </div>
                 <div class="col_publicar">
                     <p>Tipo de publicación</p>
                         <select th:field="*{tipoPublicacion}"
                             name="tipoPublicacion">
                             <option th:value="null" selected>Selecciona una opción</option>
                             <option value="Alquiler">Alquiler</option>
                             <option value="Venta">Venta</option>
                         </select>
                     <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('tipoPublicacion')}" th:errors="*{tipoPublicacion}"> </div>
                 </div>
            </div>


             <div class="row_publicar">
                <div class="col_publicar">
                    <p for="precio">Precio</p>
                    <input type="number" id="precio" placeholder="Ingrese el precio" th:field="*{precio}" name="precio">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}">
                        </div>
                </div>
            </div>

            <div class="row_mensaje">
                    <p>Descripción</p>
                        <textarea id="descripcion" rows="3" placeholder="Ingrese la descripción"
                            th:field="*{contenido}" name="contenido" ></textarea>
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('contenido')}" th:errors="*{contenido}">
                    </div>
            </div>
            
            <div class="row_upload">
                <div class="area">
                    <input type="file" id="upload" th:field="*{imagenPublicacion}" name="imagenPublicacion" />
                </div>
                <p class="nombre_imagen"></p>
                 <div class="invalid-feedback" th:if="${#fields.hasErrors('imagenPublicacion')}" th:errors="*{imagenPublicacion}">
                </div>
            </div>

            <div class="row_button">
                <input type="submit" class="btn_publicar" value="Publicar" id="publicaPost" />
                <input type="Reset" class="btn_cancelar" value="Cancelar" />
            </div>
        </form>
    </div>
</div>
<!-- FOOTER -->
<div th:include="footer :: footer"></div>