@charset "UTF-8";

*::after, *::before, * {
    margin: 0;
    box-sizing: border-box;
}

body {
    vertical-align: baseline;
    background: #ECF0F1;
}

.callToActionPublicar {
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
}

.formLogin {
    width: 100%;
    padding: 5px;
    display: flexbox;
}

#btnInput {
    background-color: salmon;
    color: white;
}

/* principal container -> Nav */

.principalContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: content-box;
    height: 30em;
    background: linear-gradient(179deg, #eaf0ef 40%, #e7ebeb 100%);
}

.titulo_contain{
    height: 10em;
    margin-bottom: 20px;
}

.principalTittle {
    text-align: start;
    font-family: 'Roboto Slab', serif;
    background: -webkit-linear-gradient(#c1d8f0, #454543);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 6rem;
    line-height: 80px !important;
    width:60%;
    height: 100%;
}

/* buttonNav */
.containerNav {
    padding: 10px;
    height: 2em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #fff;
    box-sizing: content-box;
    width: 20em;
    border-radius: 10px 10px 0 0;
    gap: 20px;
}

.buttonNav {
    width: 20em;
    cursor: pointer;
    border: none;
    background: white;
}

.buttonNav:hover::after {
    content: "";
    width: 2em;
    height: 3px;
    position: absolute;
    background-color: salmon;
    margin: 28px -40px;
    animation: fade 0.3s ease-in-out;
}

@keyframes fade {
    0% {
        transform: translateX(-15px);
    }

    100% {
        transform: translateX(0px);
    }
}

/* formNav */
.inputContainer {
    background-color: #fff;
    width: 50.25em;
    height: 6em;
    border-radius: 0 10px 10px 10px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    transition: all 0.1s ease;
}

.formNav {
    width: 100%;
    box-sizing: content-box;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

input[name="inputNav"] {
    border: none;
    outline: 2px solid #c3d1d6;
    background-color: #f4f7f8;
    width: 30em;
    height: 4em;
    border-radius: 5px;
    padding: 10px;
}

select[name="comboBoxNav"] {
    border: none;
    outline: 2px solid #c3d1d6;
    background-color: #f4f7f8;
    width: 10em;
    height: 4em;
    border-radius: 5px;
    padding: 10px;
}

.buttonSubmit {
    font-family: Hind, sans-serif;
    outline: none;
    border: none;
    height: 4em;
    padding: 10px;
    color: white;
    background-color: salmon;
    font-weight: 600;
    border-radius: 5px;
}

@media ( max-width : 1000px) {
    .inputContainer {
        width: 25em;
        box-sizing: content-box;
        background-color: white;
        height: 10em;
        padding: 20px;
        border-radius: 0 0 10px 10px;
    }
    .formNav {
        width: 25em;
        height: 10em;
        display: flex;
        flex-direction: column;
    }
    select[name="comboBoxNav"] {
        width: 100%;
    }
    input[name="inputNav"] {
        width: 100%;
    }
    .buttonSubmit {
        width: 100%;
    }
    .containerNav {
        width: 26.25em;
    }
    .hamburguer {
        display: flex;
        justify-content: space-between !important;
        left: 0;
    }
}

/* BODY */

.publicacion_container{
    margin: 10em 0 10em 0;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,20em);
    column-gap:100px;
}

.post_container{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    text-align: start;
    width: 100%;
    height: 36em;
    outline: none;
    border: none;
    transition: all 0.8s ease-out;
    box-shadow: 0px 0px 100px -52px #9fbaba;
    border-radius: 20px 20px 0 0 ;

}

.post_container:hover{
    transform: translateY(-20px);
    box-shadow: 0px 0px 100px -52px #363F45;
}

.img_container{
    width: 100%;
    height: 15em;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
}

.img_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.description-container{
    margin: 15px 0;
}

.titulo_description{
    margin:0;
}
.titulo_description h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    margin:0;
    color:#2E4053;
    padding: 10px;
}

.detalles_container{
    padding:10px;
}

.detalles_container p{
    font-size: 2em;
    font-weight: 700;
    margin:0;
}

.etiquetas{
    height: 40px;
    display:flex;
    padding: 0 20px;
    gap:0.5em;
}
.etiquetas span{
    padding: 10px 15px;
    color:#fff;
    font-weight: 500;
    border-radius: 5px;
}

.etiquetas span:nth-child(1){
    background: #939393;
}
.etiquetas span:nth-child(2){
    background: #F7DC6F;
}
/* FOOTER */
.footer {
    padding: 30px 0;
    width: 100%;
    margin: 0;
}

.footer_tittle {
    font-weight: 600;
    color: #302f2f;
}

.footer_subtittle {
    font-weight: 300;
    color: #302f2f;
}

.footer a {
    color: #302f2f;
}

.footer a:hover {
    color: #302f2f;
}

@media ( max-width : 768px) {
    .footer_container_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container_footerSection {
        width: 50%;
        margin-bottom: 10px;
    }
}

@media ( max-width : 480px) {
    .footer_container_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container_footerSection {
        width: 90%;
        margin-bottom: 10px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .container_logo {
        text-align: center;
    }
}

/* LOGIN CONTAINER*/
.container_login {
    width: 100%;
    height: 40em;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.login {
    background: #fff;
    width: 60em;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row-input {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.title_login{
    padding:20px 0;
    width: 50%;
    color:gray;
}

.row-button {
    display: flex;
    justify-content: start;
    width: 50%;
    padding: 10px;
}

#form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*PROFILE*/
.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:static;
}
.icon-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3em;
    cursor: pointer;
}


.profile-contain{
    background: #fff;
    width:15em;
    height: 17em;
    position: absolute;
    top: 6em;
    opacity: 0;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    animation-name: profile;
    transform: translateY(20px);
    transition: all 0.3s ease-out;
    box-shadow: 3px 6px 23px -3px rgba(138,137,137,0.75);
    -webkit-caja-sombra: 3px 6px 23px -3px rgba(138,137,137,0.75);
    -moz-caja-sombra: 3px 6px 23px -3px rgba(138,137,137,0.75);
}

.active{
    opacity: 1;
    transform: translateY(0);
    position: var;
}

.profile-user{
    height: 5em;
    margin:10px;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 14px;
}
.profile-user label{
    color: #939393;
}

.profile-user p{
    font-weight: 600;
}


.row-favoritos a , .row-publicaciones a,.row-contactos a{
    padding:10px;
    text-decoration: none;
    color: #272727;
    display: flex;
    align-content:start;
    width: 100%;
}
.row-favoritos a:hover, .row-publicaciones a:hover, .row-contactos a:hover{
    background:#ECF0F1;
    transition: all 0.2s ease-out;
}

.row-close-session a{
    padding:10px;
    font-weight: 500;
    text-decoration: none;
    color: salmon;
    display: flex;
    align-content:start;
}

/*REGISTRAR*/
.container_registrar{
    margin: 20px;
    display:flex;
    justify-content: center;
}

.registrar{
    width: 50em;
    padding: 20px;
    background: #fff;
    border-radius: 20px;
}
.form-title {
    margin-bottom: 30px;
    text-align: center;
}

.input-group-prepend .input-group-text {
    background-color: #e9ecef;
    border-color: #ced4da;
    color: #212529;
}

.form-group label {
    font-weight: bold;
}

.file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-input-wrapper input[type="file"] {
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.file-input-label {
    display: block;
    padding: 8px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    cursor: pointer;
}

.btn-primary {
    background-color: #ff6b3d;
    border-color: #ff6b3d;
}

.btn-primary:hover {
    background-color: #ff8f6d;
    border-color: #ff8f6d;
}

@media (max-width: 576px) {
    .form-title {
        font-size: 24px;
    }
}


.containerPublicar{
    width: 100%;
    height: 40em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_Publicacion{
    width: 50em;
}