@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');


::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.3s;
}

:root {
    --color-font: #415a79;
    --back-color: #fff;
    --second-back-color-introduccion: #faf9f9;
    --second-back-color-introduccion-img: #f3f9fb;
    --button-color: #f94910;
    --button-color-hover: #454545;
    --button-color-hover-font: #fff;
    --button-color-font: #fff;
    --principal-tittle: -webkit-linear-gradient(#8a8a8a, #454543);
    --color-border-login: #212F3C;
    --background-color-login: #fff;
    --background-modal: #f8f9fa;
    --moda-color-font: #212F3C;
    --border-color-modal: #212F3C;
    --color-login-font: #212F3C;
    --color_post: #212F3C;
    --color_post_font: #3c2b21;
    --background_post: #0b6ffa;
    --background_post_hover: #212F3C;
    --color-switch-theme: #4d62ff;
    --background-switch-theme: #212F3C;
    --principal-backColor-container: #F8FAFF;
    --border-inputs: #c3d1d6;
    --back-color-select: #f4f7f8;
    --background-inputContainer: #cbe1ff;
    --description-container: #fff;
    --color-action: #212F3C;
}

[theme="dark"] {
    --color-font: #eff3f8;
    --back-color: #08151f;
    /* --second-back-color: radial-gradient(circle, rgba(20, 46, 65, 1) 0%, rgba(8, 21, 31, 1) 100%); */
    --second-back-color-introduccion: linear-gradient(345deg,
            hsl(218deg 48% 21%) 0%,
            hsl(218deg 51% 22%) 0%,
            hsl(219deg 53% 22%) 0%,
            hsl(219deg 55% 23%) 0%,
            hsl(219deg 58% 23%) 1%,
            hsl(219deg 60% 24%) 2%,
            hsl(219deg 61% 24%) 4%,
            hsl(219deg 63% 25%) 8%,
            hsl(219deg 65% 25%) 13%,
            hsl(219deg 67% 26%) 50%,
            hsl(219deg 69% 26%) 87%,
            hsl(219deg 70% 27%) 92%,
            hsl(219deg 72% 27%) 96%,
            hsl(219deg 73% 27%) 98%,
            hsl(219deg 75% 28%) 99%,
            hsl(219deg 77% 28%) 100%,
            hsl(218deg 79% 28%) 100%,
            hsl(218deg 80% 28%) 100%,
            hsl(218deg 82% 29%) 100%);
    ;
    --second-back-color-introduccion-img: radial-gradient(circle, rgba(77, 98, 255, 1) 0%, rgba(0, 11, 96, 1) 100%);
    --button-color-hover: #fff;
    --button-color-hover-font: #454545;
    --button-color-font: #fff;
    --principal-tittle: #eff3f8;
    --color-border-login: #eff3f8;
    --background-color-login: linear-gradient(20deg,
            hsl(206deg 59% 8%) 0%,
            hsl(207deg 42% 11%) 17%,
            hsl(207deg 36% 14%) 31%,
            hsl(207deg 32% 18%) 44%,
            hsl(207deg 29% 21%) 57%,
            hsl(207deg 27% 24%) 68%,
            hsl(207deg 25% 28%) 78%,
            hsl(206deg 24% 31%) 86%,
            hsl(206deg 23% 35%) 94%,
            hsl(206deg 22% 39%) 100%);
    --background-modal: #eff3f8;
    --border-color-modal: #eff3f8;
    --moda-color-font: #08151f;
    --color-login-font: #eff3f8;
    --color_post: #eff3f8;
    --color_post_font: #eff3f8;
    --background_post: #4d62ff;
    --background_post_hover: #08151f;
    --color-switch-theme: #ffc44d;
    --background-switch-theme: #eff3f8;
    --principal-backColor-container: linear-gradient(0deg,
            hsl(206deg 59% 8%) 0%,
            hsl(207deg 50% 11%) 29%,
            hsl(207deg 48% 14%) 40%,
            hsl(206deg 47% 18%) 48%,
            hsl(206deg 46% 21%) 56%,
            hsl(206deg 46% 25%) 63%,
            hsl(206deg 46% 28%) 71%,
            hsl(205deg 45% 32%) 82%,
            hsl(205deg 45% 36%) 100%);
    --border-inputs: #9bc6ff;
    --back-color-select: #11283a;
    --background-inputContainer: #9bc6ff;
    --description-container: #11283a;
    --color-action: #9bc6ff;
}

body {
    vertical-align: baseline;
    background: var(--back-color);

}

p {
    margin: 0;
}

/* principal container */

.principalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    height: 49em;
    /* background: var(--principal-backColor-container); */
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.titulo_contain {
    margin-bottom: 20px;
    height: 12em;
    width: 100%;
}

.principalTittle {
    text-align: start;
    font-family: 'Roboto Slab', serif;
    background: var(--color-font);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #454545;
    font-size: 5rem;
    line-height: 90px !important;
    width: 9em;
    height: 100%;
    margin: 0;
}



/* formNav */
.inputContainer {
    /* background-color: #f4f7f8; */
    outline: 2px solid var(--border-inputs);
    width: 50em;
    height: 6em;
    border-radius: 10px;
    display: flex;
    padding: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.1s ease;
    box-shadow: 0px 0px 100px -24px var(--background-inputContainer);
}


input[name="detalles"] {
    border: none;
    width: 21em;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid var(--border-inputs);
    background: var(--back-color-select);
    color: var(--color-font);
}

input[name="detalles"]::placeholder {
    color: var(--color-font);
}


select[name="inmueble"],
select[name="publicacion"],
select[name="comboCiudad"] {
    appearance: none;
    -webkit-appearance: none;
    width: 10em;
    border-radius: 5px;
    padding: 10px;
    border: 2px solid var(--border-inputs);
    background: var(--back-color-select);
    color: var(--color-font);
}

.buttonSubmit {
    text-decoration: none;
    font-family: Hind, sans-serif;
    outline: none;
    border: none;
    /*height: 2em;*/
    padding: 10px;
    color: white;
    background-color: #f94910;
    font-weight: 600;
    border-radius: 10px;
}

.buttonSubmit:hover {
    color: #fff;
}


/* BODY */

.publicaciones_container {
    padding: 5em;
}

.publicaciones-head {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    box-sizing: content-box;
}

.publicaciones-head-index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #c6c6c6;
    padding: 20px;
    color: var(--color-font);
}

.form_container {
    width: max-content;
}

.publicaciones-head-index>p {
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
}

.publicaciones-head-filters {
    width: 40em;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
}

.distrito-filter,
.ciudad-filter {
    display: flex;
    align-items: center;
    gap: 20px;
}
/* 
select[name="comboCiudad"] {
    border: none;
    outline: 2px solid #c3d1d6;
    background-color: #f4f7f8;
    width: 10em;
    border-radius: 5px;
    padding: 10px;
} */

.publicacion_post_container {
    padding: 20px;
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(3, 20em);
    column-gap: 100px;
}

.post_container {
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
    text-align: start;
    width: 100%;
    height: max-content;
    outline: none;
    border: none;
    transition: all 0.8s ease-out;
    text-decoration: none;
    /* box-shadow: 0px 0px 100px -52px var(--background_post); */
    /* outline: 2px solid #c3d1d6; */
    color: #202020;
    border-radius: 30px;
    background: var(--description-container);
}

.post_container>div {
    margin: 0;
}

.post_container:hover {
    transform: translateY(-20px);
    box-shadow: 0px 0px 100px -82px var(--background_post_hover);
}

.img_container {
    width: 100%;
    height: 16em;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid var(--border-inputs);
}

.img_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.description-container {
    /* margin: 15px 0; */
    color: var(--color_post_font);
    /* height: 12em; */
    padding: 15px 0;
    box-shadow: 0px 0px 100px -52px var(--background_post);
    background: var(--description-container);
}

.titulo_description {
    margin: 0;
}

.titulo_description p {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
    font-size: 0.95rem;
    color: var(--color_post_font);
    padding: 0 15px 0 15px;
}

.detalles_container {
    padding: 0 15px;
}



.detalles_container p {
    font-weight: 700;
    margin: 0;
}

.detalles_container p:nth-child(1) {
    padding: 5px;
    width: max-content;
    background: rgb(240, 249, 255);
    color: #1d3154;
}

.precio {
    padding: 0 15px;
    font-size: 1.8rem;
    font-weight: 700;
}

.action {
    display: flex;
    padding: 10px 20px;
    justify-content: end;
}

.action button {
    border: none;
    background: none;
}

.action button span {
    font-size: 2rem;
    color: var(--color-action);
}

.action button::selection {
    background: salmon;
}


/* FOOTER */
.footer {
    padding: 30px 0;
    width: 100%;
    margin: 0;
}

.footer_tittle {
    font-weight: 600;
    color: #302f2f;
}

.footer_subtittle {
    font-weight: 300;
    color: #302f2f;
}

.footer a {
    color: #302f2f;
}

.footer a:hover {
    color: #302f2f;
}

@media (max-width : 768px) {
    .footer_container_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container_footerSection {
        width: 50%;
        margin-bottom: 10px;
    }
}

@media (max-width : 480px) {
    .footer_container_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container_footerSection {
        width: 90%;
        margin-bottom: 10px;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .container_logo {
        text-align: center;
    }
}

/* LOGIN CONTAINER*/
.invalid-feedback {
    display: block;
    font-weight: 800;
    color: #ff1616;
    border-radius: 10px;
    /* background: rgb(255, 175, 175); */
}

.registrar_container {
    width: 50%;
    padding: 15px 0;
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: var(--color-font);
}


.registrar_container a {
    font-weight: 900;
    text-decoration: none;
    color: var(--color-font);
}

.usuarioNoExiste {
    text-align: center;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    font-weight: 800;
    color: #ab3232;
    background: rgb(255, 175, 175);
    animation: error_login 0.5s ease;
}

@keyframes error_login {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}


.container_login {
    max-width: 70%;
    margin: auto;
    height: 50em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* border: 1px solid var(--color-border-login); */
    /* background-image: var(--background-color-login); */

}

.row-input {
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.row-input label {
    color: var(--color-login-font);
    margin-bottom: 10px;
}

.title_login {
    padding: 20px 0;
    width: 50%;
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    color: var(--color-font);
}

.title_login p {
    font-size: 2.5rem;
    margin: 0;

}

input[name="correo"],
input[name="clave"] {
    padding: 10px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid var(--color-border-login);
}

.row-button {
    display: flex;
    justify-content: start;
    width: 50%;
    padding: 10px;
}

#form_login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#form_login input[type="email"],
#form_login input[type="password"] {
    color: var(--color-login-font);
}




.form-title {
    margin-bottom: 30px;
    text-align: center;
}

.input-group-prepend .input-group-text {
    background-color: #e9ecef;
    border-color: #ced4da;
    color: #212529;
}

.form-group label {
    font-weight: bold;
}

.file-input-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.file-input-wrapper input[type="file"] {
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.file-input-label {
    display: block;
    padding: 8px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    cursor: pointer;
}

.btn-primary {
    background-color: #ff6b3d;
    border-color: #ff6b3d;
}

.btn-primary:hover {
    background-color: #ff8f6d;
    border-color: #ff8f6d;
}

@media (max-width: 576px) {
    .form-title {
        font-size: 24px;
    }
}


.container_introduccion {
    width: 100em;
    margin: auto;
    display: flex;
    justify-content: center;
}




.introduccion_content {
    width: 70%;
    height: 73%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--color-font);
    border-radius: 40px 0 0 40px;
    overflow: hidden;
    padding: 50px;
    gap: 30px;
    background-color: var(--second-back-color-introduccion-img);
}

.description_introduccion {
    padding: 10px;
    width: 80%;
    font-size: 1.2rem;
    color: #415a79;
}

.description_introduccion p {
    opacity: 0;
}

.titulo_introduccion {
    width: 100%;
    color: var(--color-font);
}

.titulo_introduccion p {
    font-size: 4rem;
    line-height: 70px !important;
    font-weight: 700;
    opacity: 0;
}

.fade_left {
    margin: 0;
    animation: down 1s ease;
}

@keyframes down {
    0% {
        transform: translateX(-50px);
    }

    100% {
        transform: translateX(0);

    }
}


.introduccion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 60em;
    overflow: hidden;
    padding: 0;
    border-radius: 3rem;
}

.callToAction {
    width: 100%;
}

.callToAction a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    background: #ff2b2b;
    border-radius: 10px;
    padding: 15px;

}


.img_container_introduccion {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-back-color-introduccion-img);
    border-radius: 0 40px 40px 0;
}

.img_container_introduccion img {
    height: 700px;
    animation: bounce 3s ease-in-out infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}


.footer_container_content p,
.footer_container_content a {
    color: var(--color-font);
}