
<head th:replace="head :: head"></head>

<!-- NAVBAR -->
<div th:include="navbar :: navbar"></div>

<!--Introducción-->
<div class="container">
    <div class="introduccion">
        <div class="introduccion_content">
            <div class="titulo_introduccion">
                <p>Descubre el hogar de tus sueños &#128205;</p>
            </div>
            <div class="description_introduccion">
                <p>
                    Expertos en bienes raíces, variedad de opciones y el mejor servicio para encontrar la propiedad perfecta para ti.
                </p>
            </div>    
        </div>
        <div class="img_container_introduccion">
            <img src="public/home.png" alt="CasaFacil bebe"/>
        </div>
    </div>
</div>


<!-- PRINCIPAL -->
<div th:include="principal :: principal"></div>


<!--Selectores para el filtro de ciudad y distrito -->
<div class="container">
    <div class="publicaciones_container">
        <div class="publicaciones-head">
            <div class="publicaciones-head-index">
                <p class="cantidad_post" style="font-size: 1.1rem; font-weight: 300"></p>
                <div class="publicaciones-head-filters">
                    <div class="distrito-filter">
                        <label>Filtrar por ciudad: </label>
                        <select name="comboCiudad" class="comboBoxfilter" id="comboCiudad">
                            <option th:each="c : ${ciudades}" th:object="${c}" th:value="${c}" th:text="${c}"></option>
                        </select> 
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTENEDOR DE PUBLICACIONES -->
        <div class="container" style="display:flex; justify-content: center;">
            <div class="publicacion_post_container">
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
<div th:include="footer :: footer"></div>