

<th:block th:fragment="principal">

    <div class="container" style="width: 100;">
        <div class="principalContainer">
            <div class="principal">
                <div class="titulo_contain">
                    <h1 class="principalTittle">¡Encuentra tu lugar de ensueño!</h1>
                </div>
                <div class="form_container">
                    <div class="containerNav">
                        <button class="buttonNav">Alquilar</button>
                        <button class="buttonNav">Comprar</button>
                        <button class="buttonNav">Proyectos</button>
                    </div>
                    <div class="inputContainer">
                        <form class="formNav" method="post" action="#">
                            <select name="comboBoxNav" class="comboBoxNav" id="comboBoxNav">
                                <option value="Departamento" selected>Departamento</option>
                                <option value="Casa">Casa</option>
                                <option value="Terreno">Terreno</option>
                            </select> 
                            <input type="text" name="inputNav"
                                   placeholder="Ingresa ubicaciones (eje: Lima)"> <input
                                   type="submit" value="Buscar" class="buttonSubmit">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>