<th:block th:fragment="principal">


    <div class="principalContainer">
        <div class="principal">
            <div class="titulo_contain">
                <h1 class="principalTittle">¡Encuentra tu lugar de ensueño!</h1>
            </div>
            <div class="inputContainer">
                <form method="GET" th:object="${galeria}" th:action="@{galeria}">
                    <select name="publicacion" class="publicacion" id="publicacion" th:field="*{publicacion}">
                        <option value="alquiler " selected>Alquiler</option>
                        <option value="venta">Venta</option>
                    </select>
                    <select name="inmueble" class="inmueble" id="inmueble" th:field="*{inmueble}">
                        <option value="Departamento" selected>Departamento</option>
                        <option value="Casa">Casa</option>
                        <option value="Terreno">Terreno</option>
                    </select>
                    <input type="text" name="detalles" placeholder="Buscar por distrito (eje: Lima)"
                        th:field="*{detalles}">
                    <input type="submit" class="buttonSubmit" value="Buscar">
                </form>
            </div>
        </div>
    </div>
    </div>

</th:block>